@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: none;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
body {
  font-family: "Work Sans", "Poppins", sans-serif;
  zoom: 1;
  margin: 0;
  padding: 0;
  border: 0;
}
.gate {
  zoom: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.c-academy {
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
.transall {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 1s;
}
.transall:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 1s;
}
.rotateTransition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.8s;
}

.FadeIn {
  animation: fade 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeInBlur {
  animation-name: fadeBlur;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes fadeBlur {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  width: 3px;
  background-color: #2b2c6b;
}
::-webkit-scrollbar-thumb:hover {
}

.unset {
  all: unset;
}

/* .dropdown {
  appearance: none; 
  -webkit-appearance: none; 
} */

/* clever academy css */

.splitbg-aca {
  background: linear-gradient(to right, #2b2c6b 50.01%, #ebebff 50%);
}
@media (max-width: 640px) {
  .splitbg-aca {
    background: #2b2c6b;
  }
}
.splitbg-tech {
  background: linear-gradient(to right, #fbf1f5 50%, #b02d6e 50.03%);
}
@media (max-width: 640px) {
  .splitbg-tech {
    background: #b02d6e;
  }
}

.gradientOverlay {
  background: linear-gradient(
    180deg,
    #b02d6e 0%,
    rgba(255, 104, 179, 0.71) 89.06%
  );
}
.bounce {
  animation-name: bouncing;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes bouncing {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-12%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-12%);
  }
  100% {
    transform: translateY(0%);
  }
}

.gradient {
  background: linear-gradient(
    0deg,
    rgb(57, 60, 133) 0%,
    rgba(9, 9, 121, 0) 100%
  );
}
.gradient2 {
  background: linear-gradient(180deg, #5b2c74 0%, rgba(9, 9, 121, 0) 100%);
}
.gradient-bottom {
  background: linear-gradient(
    0deg,
    rgb(57, 60, 133) 12%,
    rgba(9, 9, 121, 0) 100%
  );
}
.gradient-bottom2 {
  background: linear-gradient(
    0deg,
    rgb(57, 60, 133) 25%,
    rgba(9, 9, 121, 0) 100%
  );
}

.category-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 3px;
  background-color: #636496;
}
.category-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  width: 3px;
  background-color: #ebebff;
}
.category-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ababc4;
}

.pilltrans {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
  transition-delay: 200ms;
}
.ball1trans {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 810ms;
  transition-delay: 110ms;
}
.ball2trans {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 805ms;
  transition-delay: 115ms;
}
.ball3trans {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
  transition-delay: 118ms;
}

.ballbounce {
  animation-name: ballbouncing;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.ball2bounce {
  animation-name: ballbouncing;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.ball3bounce {
  animation-name: ballbouncing;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@keyframes ballbouncing {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-4%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0%);
  }
}

#mySvg path {
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

#path1aca {
  stroke: #009fe3;
  animation: drawPath1 4s 1s cubic-bezier(0.4, 0, 0.2, 1) forwards infinite;
}
#path1tech {
  stroke: #cf4187;
  animation: drawPath1 4s 1s cubic-bezier(0.4, 0, 0.2, 1) forwards infinite;
}

#path2 {
  stroke: #2b2c6b;
  animation: drawPath2 4s 1s cubic-bezier(0.4, 0, 0.2, 1) forwards infinite;
}

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 1000;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  60% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;

    stroke-dashoffset: 1000;
  }
}

@keyframes drawPath2 {
  0% {
    stroke-dashoffset: 1000;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  60% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;

    stroke-dashoffset: 1000;
  }
}

.dark:-webkit-autofill,
.dark:-webkit-autofill:hover,
.dark:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #434594 inset;
  transition: background-color 1s ease-in-out 0s;
}
.light:-webkit-autofill,
.light:-webkit-autofill:hover,
.light:-webkit-autofill:focus {
  -webkit-text-fill-color: #2b2c6b;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 1s ease-in-out 0s;
}

/* clever academy css end  */

/* clever gate css */
.stroke-aca {
  -webkit-text-stroke: 1.8px #1187b9;
  color: transparent;
}
.stroke-com {
  -webkit-text-stroke: 1.8px #c6a180;
  color: transparent;
}
.stroke-tech {
  -webkit-text-stroke: 1.8px #b02d6e;
  color: transparent;
}

@media (max-width: 780px) {
  .stroke-aca {
    -webkit-text-stroke: 1px #1187b9;
    color: transparent;
  }
}
@media (max-width: 780px) {
  .stroke-com {
    -webkit-text-stroke: 1px #c6a180;
    color: transparent;
  }
}
@media (max-width: 780px) {
  .stroke-tech {
    -webkit-text-stroke: 1px #b02d6e;
    color: transparent;
  }
}
.shadow-text {
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}
/* clever gate css end */
